.contact-page {
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

<<<<<<< HEAD
=======
/* <<<<<<< HEAD======= */
.message-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 1.1%;
    backdrop-filter: blur(5px);
    padding: 30px;
}

.consultation {
    color: rgb(60, 23, 23);
    font-family: "Urbanist", sans-serif;
    font-size: large;
}

.consultation-link {
    color: rgb(252, 133, 100);
    text-decoration: none;
}

.consultation-link:hover {
    cursor: pointer;
}

.contact-form-2 {
    width: 90%;
}

.label {
    font-family: "Urbanist", sans-serif;
    color: rgb(252, 133, 100);
    width: 50%;
}

.looking-forward {
    font-size: 20px;
    color: white;
    font-family: "Urbanist", sans-serif;
}

.form-control {
    border: 1px solid rgb(60, 23, 23);
}

.send-button {
    background-color: pink;
    border: 4px solid rgb(252, 133, 100);
    color: rgb(252, 133, 100);
    font-family: "Urbanist", sans-serif;
    font-size: x-large;
    border-radius: 2px;
}

.send-button:hover {
    background-color: rgb(252, 133, 100);
    border: 4px solid pink !important;
    color: pink;
}

@media screen and (max-width: 800px) {
    .message-background {
        width: 90% !important;
    }
}

.contact-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-div2 {
    display: flex;
}

/* >>>>>>>f6c2c3b7515708f3bf22d2c9ddf7ffa9b659b912 */
>>>>>>> bec829471eb78b836c03d72b2ffa167fd70fd9b1
