.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getInTouch {
  font-size: 2em;
  margin: 2em;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .getInTouch {
    text-align: center;
    font-size: 25px !important;
    margin: 1em !important;
  }
}
