.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw !important;
    height: 100vh !important;
}

/* .portfolio-img-div {
    width: 500px;
} */

.image1 {
    width: 600px;
    margin: 30px;
}

.image2 {
    width: 300px;
}

.modal {
    width: 90vw;
}


.modal {
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 95vw;
    height: 100%;
    /* overflow: auto; */
    background-color: white;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 100px;
    border: 2px double white;
    border-radius: 10px;
    /* overflow-y: scroll; */
}

.modalContent {
    display: block;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: salmon;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.port-img {
    width: 40%;
}