.container {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 100%;
}

.container-2 {
    overflow-y: scroll;
    height: 100%;
}

.portfolio-modal {
    margin-top: 0px;
    height: 95vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    /* center the modal vertically */
    left: 50%;
    /* center the modal horizontally */
    transform: translate(-50%, -50%);
    /* shift the modal back by half of its width and height to ensure it's centered */
    z-index: 999 !important;
    width: 90%;
    background-color: ivory;
    border: 10px double peru;
    border-radius: 3px;
    color: peru;
    font-size: 5rem;
    overflow-y: scroll;
}

.bodyNoScroll {
    overflow: hidden;
}

.portfolio-container {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 4;
    overflow: hidden;
}

.portfolio-image-div1 {
    width: 400px !important;
    height: 400px;
    margin: 30px;
}

.portfolio-image-div2 {
    width: 280px !important;
    height: 280px !important;
    object-fit: contain;
}

.portfolio-image1 {
    width: 400px
}

.portfolio-image2 {
    width: 280px
}

.portfolio-item {
    display: flex;
    width: 100%;
    height: 1000px;
    align-items: center;
}

.portfolio-center-animated-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 1100px;
    width: 80%;
}

.portfolio-item-image {
    width: 400px;
    height: 400px;
    border-radius: 2px;
    margin: 60px;
}

.port-img-2 {
    width: 40%;
    height: auto;
    max-height: 60vh;
    border-radius: 3px;
}

.portfolio-close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: salmon;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 3;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.description {
    color: salmon;
    text-justify: auto;
    text-align: justify;
    margin: 60px;
}

.portfolio-description-div {
    padding: 30px;
    line-height: 2;
    font-size: large;
}

.portfolio-modal-header {
    width: 100%;
    margin-top: 100%;
}

.left-arrow {
    width: 30px;
    transform: scaleX(-1);
}

.right-arrow {
    width: 30px;
}

.arrow-button {
    background-color: transparent;
    border: 2px solid transparent;
}

.gsap-marker-start,
.gsap-marker-end {
    z-index: 9999 !important;
    color: red;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 998;
    /* Below the modal but above everything else */
}