:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* custom vars */
  --highlight: #FC8564;
  --background: rgb(72, 68, 60);
}

/* this it the import link for the font "Urbanist" */
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

* {
  font-family: "Urbanist", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);
}

.home-container {
  margin: 0px 50px;
  min-height: 500px;
}


/* @media only screen and (max-width: 600px){
  
} */

.lotus-img {
  z-index: 999;
}