:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
<<<<<<< HEAD
=======
  
>>>>>>> 7a7941db860db2c14f5cbde613d50281ae2e08cc

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* custom vars */
  --highlight: #64ffda;
  --background: #0a192f;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  color: rgba(255, 255, 255, 0.87);
<<<<<<< HEAD
  background-color: var(--background);
=======
  background-color: var(--background) !important;
>>>>>>> 7a7941db860db2c14f5cbde613d50281ae2e08cc
}